/**
 * @author Aurora Dimni -FrontEnd
  * @author Ardit Qerosi -FullStack
 * @designer Megi Qerosi
 */

@import '@/scss/typography/typography';
@import '@/scss/variables/variables';
@import '@/scss/functions/functions';
@import '@/scss/mixins/mixins';
@import '@/scss/utilities/utilities';

html {
  body {
    margin: 0;
    padding: 0;
    background-color: mapget($colors, 'white');

    a {
      text-decoration: none;
    }
    a:hover {
      color: rgb(4, 78, 113) !important;
      background-color: unset;
    }
  }
  color-scheme: only light !important;
}

@import '@/scss/animations/animations';
